.header {
    padding: 16px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @media screen and (min-width: 1440px) {
        gap: 8px;
    }
}

.container {
    padding: 0 16px 16px;
    display: flex;
    gap: 24px;
}

.buttons {
    display: flex;
    gap: 16px;

    @media screen and (min-width: 1440px) {
        gap: 8px;
    }

    @media screen and (min-width: 1600px) {
        gap: 16px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    height: 100%;
}

.avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    z-index: -1;

    &_num {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--accent);
        color: var(--header-light);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -24px;
        font-weight: 600;
        border: 2px solid var(--widget);
    }
}

.text {
    max-width: 80px;
    text-align: center;
    margin: 8px auto 10px;
}