.slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0;
    height: auto !important;

    &_main {
        padding: 16px 0 16px 16px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        max-width: 300px;
    }

    &_media {
        display: none;
    }

    @media screen and (min-width: 414px) {
        &_main {
            max-width: 220px;
        }

        &_media {
            display: block;
            max-width: 140px;
            width: 100%;
            height: auto;
            margin: 16px;
        }
    }

    @media screen and (min-width: 768px) {
        &_media {
            display: none;
        }
    }

    @media screen and (min-width: 1024px) {
        &_media {
            display: block;
        }
    }

    @media screen and (min-width: 1280px) {
        &_media {
            max-width: 120px;
        }
    }

    @media screen and (min-width: 1440px) {
        &_media {
            display: none;
        }
    }

    @media screen and (min-width: 1600px) {
        &_media {
            display: block;
            max-width: 140px;
        }
    }
}